

body {
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1{
    color: red;
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;

    /* Grid Ayarları */
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    overflow: hidden; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Üzerine gelindiğinde hafif gölgelendirme ekler */
.gallery-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gallery-link {
    display: block
}

.gallery-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease-in-out;
}

.gallery-item:hover .gallery-image {
    transform: scale(1.04);

}